* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #000000;
  color: #f1f1f1;
  min-height: 100vh;
}

.container {
  max-width: 100%;
  margin: 30px auto;
  padding: 20px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  color: #22ff00;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 1px;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  background-color: #222222;
  color: #f1f1f1;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-family: inherit;
  font-size: inherit;
}

button:hover {
  background-color: #444444;
}

.hidden {
  display: none;
}

#result {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#copy-url-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(50, 186, 50);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 20px;
  font-family: inherit;
  font-size: inherit;
}


#copy-url-btn:hover {
  background-color: darkgreen;
}

#result {
  display: none;
}

#success-message {
  font-size: 1.2rem;
  color: limegreen;
  margin-top: 10px;
}

#one-time-url {
  display: block;
  border-radius: 4px;
  background-color: #000000;
  color: #f1f1f1;
  font-size: 0.9rem;
}
